.container {
    width: 35%;
    background-color: var(--primary-color);
    border: 1px solid var(--ternary-color);
    align-self: stretch;
}

.title {
    text-align: center;
}

@media (max-width: 1024px) {

    .container{
        width: 100%;
    }
}