.account_section {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.categories_section {
    background-color: var(--primary-color);
    border-right: 1px solid var(--quarternary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.account_section_transactions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.filters_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    border-left: 1px solid var(--quarternary-color);
}

/* Media Queries - RESPONSIVE */

@media (max-width: 1439px) {
    .account_section {
        grid-template-columns:  75% 25%;
    }

    .categories_section {
        display: none;
    }
}

@media (max-width: 1023px) {

    .account_section {
        grid-template-columns:  100%;
    }
    .filters_section {
        width: 0;
        overflow: hidden;
        border: none;
    } 
  }