.accounts_page_section {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    height: calc(100vh - var(--header-height));
}

.categories_section {
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
    padding-top: 17px;
    border-right: 1px solid var(--ternary-color);
}

.accounts_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
}

.accounts_section_gallery {
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--ternary-color);
    padding: 15px;
}

.empty_accounts_list_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Media Queries - RESPONSIVE */

@media (max-width: 1023px) {

    .accounts_page_section {
        grid-template-columns: 100%;
    }
    .categories_section {
        display: none;
    }
}

@media (max-width: 1023px) {

    .accounts_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
    }
}