.transactions_layout {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.transactions_left_section {
    background-color: var(--primary-color);
    border-right: 1px solid var(--quarternary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.transactions_table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.transactions_right_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    border-left: 1px solid var(--quarternary-color);
}

/* Media Queries - RESPONSIVE */

@media (max-width: 1440px) {
    .transactions_layout {
        grid-template-columns:  75% 25%;
    }

    .transactions_left_section {
        display: none;
    }
}