@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@800&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');
:root {
  
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Quicksand';
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color palettes 

  What these are used for:
  --primary-color: Primary background color
  --secondary-color: Secondary background color
  --ternary-color: Tertiary background color
  --quarternary-color: Accent background color
  --quinary-color: Titles color
  --senary-color: Links color 
  --septenary-color: Accent text color*/

  /* --light-primary: #1128D9;
  --light-secondary: #0b2994;
  --light-ternary: #3560C4;
  --light-quarternary: #0D2354;
  --light-quinary: #BCF4DA;
  --light-senary: #49D3AF;
  --light-septenary: #E57822; */

  --light-primary: #FFFFFF; /* White */
  --light-secondary: #F0F0F0; /* Light Gray */
  --light-ternary: #E0E0E0; /* Lighter Gray */
  --light-quarternary: rgba(63, 81, 181, 0.3); /* Royal Blue with 30% opacity */
  --light-quinary: #212121; /* Dark Gray */
  --light-senary: #1976D2; /* Blue */
  --light-septenary: #f8bf13; /* Amber */

  --dark-primary: #081530;
  --dark-secondary: #0F2B3B;
  --dark-ternary: #1E3957;
  --dark-quarternary: #061026;
  --dark-quinary: #2C3E31;
  --dark-senary: #164A3B;
  --dark-septenary: #A55C1F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  --primary-color: var(--light-primary);
  --secondary-color: var(--light-secondary);
  --ternary-color: var(--light-ternary);
  --quarternary-color: var(--light-quarternary);
  --quinary-color: var(--light-quinary);
  --senary-color: var(--light-senary);
  --septenary-color: var(--light-septenary);
  --red: rgb(255, 86, 86);
  --green: rgb(117, 177, 117);
  /* background: linear-gradient(128deg, var(--secondary-color) 0%, var(--primary-color) 33%, var(--quarternary-color) 83%); */
  background-color: rgba(0, 0, 0, 0.04);
}

a, a:hover, a:active, a:visited {
  color: var(--senary-color);
  text-decoration: none;
}