.account_preview {
    width: 290px;
    background-color: var(--primary-color);
    border: 1px solid var(--ternary-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.account_preview_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: var(--secondary-color);
    border-bottom: 1px dashed var(--ternary-color);
    padding: 15px;
    width: 100%;
}

.account_preview_title {
    color: var(--septenary-color);
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account_preview_type {
    font-size: 0.8rem;
}

.account_preview_amount {
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--quinary-color);
}

.account_preview_last_transaction {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.account_preview_last_transaction  > p {
    padding-left: 15px;
}

.account_preview_last_transactions_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--secondary-color);
    padding: 15px;
}

.income {
    color: var(--green);
    /* color: var(--quinary-color); */
}

.expense {
    color: var(--red);
    /* filter: saturate(80%) brightness(90%); */
}