.category_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: var(--ternary-color); */
    padding: 10px;
    /* border-radius: 4px; */
    border-bottom: 1px solid var(--ternary-color);
}

.category_edit_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--ternary-color);
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
}

.category_item_text {
    font-weight: bold;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.icons > .span {
    padding: 7px;
}

.category_edit_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}