.category_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons > span {
    width: 24px;
}

.category_edit_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}