.settings_item_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.settings_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
    width: 100%;
}

.settings_item_update_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}