.transactions_section_filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.dates_from, .dates_until {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.date_input {
    padding: 3px;
    border-radius: 3px;
    outline: none;
    border: none;
    transition: outline .1s;
    font-size: 1rem;
    font-family: 'Quicksand';
    font-weight: bold;
}

