.transactions_section_filters {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.dates_from, .dates_until {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.date_input {
    padding: 3px;
    border-radius: 3px;
    outline: none;
    border: none;
    transition: outline .1s;
    font-size: 1rem;
    font-family: 'Quicksand';
    font-weight: bold;
}

.filters_icon {
    width: 30px;
    fill: var(--senary-color);
    display: none;
}


@media (max-width: 1023px) {
    .filters_icon  {
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: var(--menu-icon-zindex-inactive);
    }

    .filters_icon.open  {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: var(--menu-icon-zindex-active);
      }

    .transactions_section_filters {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--primary-color);
        z-index: var(--menu-zindex-inactive);
        padding: 50px;
        transform: translateX(-100vw);
        transition: transform .2s ease-in-out;
    }

    .open.transactions_section_filters {
        transform: translateX(0);
        z-index: var(--menu-zindex-active);
    }
  }