.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.settings_sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: fit-content;
    gap: 30px;
}


/* Media Queries - RESPONSIVE */

@media (max-width: 767px) {

    .settings_sections {
        width: 100%;
        padding: 50px;
    }
}