.row {
    border: 1px solid var(--quinary-color);
}

.today {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.04);
}

.content_cell {
    padding: 16px;
    color: var(--quinary-color);
    border-bottom: 1px solid var(--ternary-color);
}

.cell {
    padding: 16px;
    /* border-radius: 7px; */
    text-align: center;
}
.income {
    color: rgb(100, 161, 100);
}

.expense {
    color: rgb(255, 86, 86);;
    /* background-color: rgb(255, 86, 86); */
    /* filter: saturate(80%) brightness(90%); */
}

.balance_cell {
    color: rgb(68,81,201, 0.6);
    font-weight: bold;
    /* color: var(--primary-color); */
    display: flex; 
    flex-direction: row;
}

.options {
    display: none;
    width: 100%;
}

.options > span {
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options > span:hover {
    cursor: pointer;
}

.options > span > svg {
    fill: var(--quinary-color);
}

.cell {
    transition: box-shadow .3s ease;
}

.row:hover > td {
    /* box-shadow: 0 12px 16px #0000003d, 0 17px 50px #00000030; */
    background-color: rgba(0, 0, 0, 0.04);
}

tr:hover > .balance_cell > .balance_cell_balance {
    display: none;
}

tr:hover > .balance_cell > .options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.hidden {
    display: none;
}

/* Modal */

.modal_content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--quinary-color);
}

.modal_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}