.table {
    border-spacing: 0px;
    color: var(--light-quinary);
    background-color: var(--primary-color);
    border: 1px solid var(--ternary-color);
}

.header_cell {
    /* background-color: rgb(68,81,201, 0.8); */
    color: var(--quinary-color);
}

.cell {
    padding: 5px 10px;
    border-radius: 7px;
    text-align: center;
}
