.table {
    border-spacing: 0px;
    color: var(--light-quinary);
    background-color: var(--primary-color);
    border: 1px solid var(--ternary-color);
}

.table_header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--primary-color);
}

.header_cell {
    color: var(--quinary-color);
    border-bottom: 1px solid var(--ternary-color);
    padding: 18px 10px;
}

.amount {
    display: none;
}

/* Media Queries - Responsive */

@media (max-width: 767px) {
    .category {
        display: none;
    }

    .month {
        display: none;
    }

    .description {
        display: none;
    }

    .income {
        display: none;
    }

    .debit {
        display: none;
    }

    .amount {
        display: table-cell;
    }
  }