.new_account_form {
    background-color: var(--primary-color);
    border: 1px solid var(--ternary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}